TRIGGER_EMAIL_DESTINO=seu@email.com
TRIGGER_EMAIL_LOG=seuemail-de-log@gmail.com
TRIGGER_EMAIL_ORIGEM=triggersecurity.ids@gmail.com
TRIGGER_EMAIL_SENHA=xxxx_xxxx_xxxx_xxxx
TRIGGER_SMTP_HOST=smtp.gmail.com
TRIGGER_SMTP_PORT=587